<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ email_css_path}}" media="all" />
    <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  </head>
  <body>
   <div id="page-wrapper">
    <div class="header">
      <h1 class="site-name"><a href="{{ front_page }}" title="{{ site_name }}">{{ site_name }}</a></h1>
    </div>
    <div class="body">
      {% if header %}
        <div class="message-header">{{ header }}</div>
      {% endif %}
      {% if message %}
        <div class="message">{{ message }}</div>
      {% endif %}
      <div class="content">{{ content }}</div>
    </div>
    {% if footer %}
      <div class="footer">{{ footer }}</div>
    {% endif %}
   </div>
   {% if site_footer_blocks %}
     <div class="site-footer">
       <div class="layout-container">
         <div class="site-footer__top grid--container grid--container-1-2-4">
           {{ site_footer_blocks }}
         </div>
       </div>
     </div>
   {% endif %}
  </body>
</html>
