{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}

<article{{ attributes.addClass(classes) }}>
  <div class="search-result-info">
    <header>
      <a href="{{ url }}">
        <h2{{ title_attributes.addClass('node__title') }}>
          {{ label }}
        </h2>
      </a>
    </header>
    <div{{ content_attributes.addClass('clearfix') }}>
      {{ content|without('field_upcoming_events') }}
    </div>
  </div>
  {{ content.field_upcoming_events }}
</article>
