{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}

<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
    {% if not page %}
      <a href="{{ url }}" rel="bookmark" class="teaser-link">
      <span class="visually-hidden">{{'Essence of Breema: '| t}}{{ label }}</span>
    {% endif %}
    {{ content.field_main_image }}
    {% if not page %}
      </a>
    {% endif %}
    <figure>
      <blockquote>
        {{ content.body }}
      </blockquote>
      <figcaption class="attribution">From {{ source }}</figcaption>
    </figure>
    {{ content|without('field_main_image', 'body') }}
  </div>
</article>
