{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}

<a href="{{ url }}" rel="bookmark" class="teaser-link">
<div class="teaser-wrapper clearfix">
<article{{ attributes.addClass(classes) }}>
  <header>
    <div class="date-time-tz-wrapper">
      {{ content.field_date_time }}
      {{ content.field_timezone }}
    </div>
    <h4{{ title_attributes.addClass('node__title') }}>
      {{ label }}
    </h4>
  </header>
  <div{{ content_attributes.addClass('clearfix') }}>
    {{ content|without('field_date_time', 'field_timezone') }}
  </div>
</article>
</div>
</a>
